#iceTagMenu {
	overflow: none; 
	display: block; 
	position: absolute; 
	background-color: #f2f2f2; 
	z-index:10000; 
	min-width: 200px; 
	border-radius: 4px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#iceTagMenu input[type="text"] {
	background-color: #E8E7E6;
	border: none;
	color: #595959;
	margin: 5px 15px;
	padding: 0px 10px;
}
.iceTagSquare {
	background-color: #4C4C4C;
	display: inline-block;
	width:9px;
	height:9px;
	color: #4C4C4C;
	border-radius: 2px;
	font-size: 9px;
	line-height: 110%;
	padding-left: 1px;
	padding-top: 1px;
}

.checked .iceTagSquare {
	color: #f2f2f2;
}

.iceTag:hover {
	background-color: #E8E7E6;
	
}

.iceTag {
	color: #4C4C4C;
	padding: 8px;
	padding-left: 15px;
	cursor: pointer;
	clear: both;
	display: block;
	font-size: 13px;
}

.iceTagText {
	padding-left: 10px;
}
